.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffff;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #ffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.completedTask {
  text-decoration-line: line-through;
  color: gray;
  padding-right: 80px;
}

.uncompletedTask {
  text-decoration-line: none;
  color: black;
  padding-right: 80px;
}

.completedDesc {
  text-decoration-line: line-through;
  color: gray;
}

.uncompletedDesc {
  text-decoration-line: none;
  color: black;
}

p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 41px;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: seagreen;
  text-align: center;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
}
